body{ background-color: rgb(255, 239, 202);
margin-top: 30px;
}
p{
    font-family: "firelli-variable", sans-serif;
}
a{
    text-decoration: solid;
}
.yellow-bar{
    background-color: rgb(255, 187, 14);
    display: flex;
    height: 75px; 
    width: 100%;
    margin: 20px 0px;
}

.blk-circle{
    background-color: rgb(0, 0, 0);
    height: 80px;
    width: 120px;
    margin: 20px;
  
    border-radius: 100%;
}

.double-yellow-bar{
    display: flex;
    align-content: flex-start;
    justify-items: space-between;
    flex-direction: column;
    width: 100%;
    gap: 0px;
}

.kw{
   display: inline-block;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   margin-left: 30px;
   margin-right: 30px;
   position: relative;
   /* background-color: aqua;*/
   width: fit-content;
   height: fit-content;
   /*border: 8px solid black;*/
}
.top-line{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
   /*border: 8px solid black;*/
}
.kamai{
    font-size: 80px;
    height: fit-content;
    margin: 0%;
} 
.williams{
    font-size: 57px; 
    height: fit-content;
   /* background-color: azure;*/
    margin: 0%;
}
.second-line{
    display: flex;
    justify-content:space-between;
    
    align-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
   /*border: 8px solid black;*/
}
.chp{
    display: inline-block;
   display: flex;
   flex-direction: column;
   margin-left: 40px;
   margin-right: 30px;
   position: relative;
   /*background-color: aqua;*/
   width: fit-content;
   height: fit-content;
}
.class{
    font-size: 150px;
    height: fit-content;
    margin: 0%;
}
.homepage{
    font-size: 70px; 
    height: fit-content;
    /*background-color: azure;*/
    margin: 0%;
}
.third-line{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    /*border: 8px solid black;*/
    
}
.p1{
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 10px;
    position: relative;
    width: 35%;
    height: fit-content;  
    position: relative;
    /*border: 8px solid black;*/
    
}
.web-book{
    font-size: 30px; 
    font-weight: 300;
    height: fit-content;
    margin: 0%;
}
.double-choc{
    font-family: "firelli-variable", sans-serif;
    font-size: 15px; 
    font-weight: 700;
    color: black;
    height: fit-content;
    margin: 0%;
}
.double-choc:hover{
    color: rgb(2, 163, 67);
}
.fourth-line{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    /*border: 8px solid black;*/
}

.p2{
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 10px;
    margin-right: 30px;
    position: relative;
    width: 35%;
    height: fit-content;
    /*border: 8px solid black;*/ 
}
.web-poster{
    font-size: 26px; 
    font-weight: 300;
    height: fit-content;
    margin: 0%;
}
.four-twenty{
    font-family: "firelli-variable", sans-serif;
    font-size: 17px; 
    font-weight: 700;
    color: black;
    height: fit-content;
    margin: 0%;
}
.four-twenty:hover{
    color: rgb(2, 163, 67);
}

body{
    display: flex;
    min-height: 100%;
    min-width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    /*border: 8px solid black;*/
}
.fifth-line{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    /*border: 8px solid black;*/
}
.web-tool{
    font-size: 30px; 
    font-weight: 300;
    height: fit-content;
    margin: 0%;
}
.pigeon-vs-bagel{
    font-family: "firelli-variable", sans-serif;
    font-size: 18px; 
    font-weight: 700;
    color: black;
    height: fit-content;
    margin: 0%;
}
.pigeon-vs-bagel:hover{
    color: rgb(2, 163, 67);
}