body { margin: 0; overflow: hidden; background: #f6f2ee; }

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}



  

  video {
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    transform: scaleX(-1); /* mirror */
    opacity:0.3;
  }
  