/* Version 2: Full Width and Typographic */

body {
/* I'm overriding the default margin and setting it to 0 */
    margin: 0;
}
.fourtwenty {
    height: 50%;
    display: inline-block;
    margin-left: 70px;
    position: relative;
}
.at {
    display: inline-block;
    text-align: center;
    position: relative;
}
.info {
    display: block;
    width: 90%;
    margin: 10px 0%;
    padding: 0px;
}
.title {
    display: none;
}
.eastvillagenyc {  
    display: none;
}
.club509 {
    display: inline-block;
    margin-left: 70px;
  }
  .date {
    font-family: "new-order", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color:rgb(0, 0, 0);
    display: inline-block;
    margin-left: 20px;
    
  }
  .djset {
    display: inline-block;
    margin-left: 25px;
  }
.black-line {
    display: block;
    width: 90%;
    height: 12px;
    background-color: black;
    position: relative;
    margin: auto;
}
  .info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:30px;
    margin: auto;
    justify-content: flex-start;
    height: 220px;
  }
  .container {
    display: flex;
    flex-direction: row;
    margin-bottom: -120px;
  }
h1 {
    font-family: "new-order", sans-serif;
    font-size: 400px;
    font-weight: 600;
    line-height: 0px;
}
h2 {
    font-family: "new-order", sans-serif;
    font-size: 180px;
    line-height: 170px;
  } 
  h3 {
    font-family: "new-order", sans-serif;
    font-weight:600;
    font-style: normal;
    font-size: 50px;
    color:rgb(0, 0, 0);
  }
  h4 {
    font-family: "new-order", sans-serif;
    font-weight:600;
    font-style: normal;
    font-size: 35px;
    line-height: 50px;
    color:rgb(0, 0, 0);
  }