body {
  margin: 0;
  font-family: sans-serif;
  background: #FDFC54;
  overflow: hidden;
}

/* Intro Screen */
#title-screen {
  font-family: "clarendon-text-pro", serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FDFC54;
  z-index: 10;
}

#title-screen h1 {
  font-size: 14.25em;
  line-height: .75em;
  margin: 0;
}

#title-screen button {
  font-family: "clarendon-text-pro", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}

#title-screen button:hover {
  background: #333;
}

/* Tooltip */
.tooltip {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 12px;
  pointer-events: none;
  opacity: 0;
  border-radius: 4px;
}

/* Next Button */
#next-button {
  font-family: "clarendon-text-pro", serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  bottom: 40px;
  right: 60px;
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  background: #000000;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease;
}

#next-button:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

/* Back Button */
#back-button {
  font-family: "clarendon-text-pro", serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  bottom: 40px;
  left: 60px;
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  background: #000000;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease;
}

#back-button:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
}



.map-outline {
  fill: #01923D;
  stroke: #b3b3b3;
  stroke-width: 1;
}

/* Map Description Box */
#map-description {
  position: absolute;
  top: 40px;
  left: 60px;
  width: 300px;
  background: transparent;
  padding: 16px 20px;
  border-radius: 8px;
  /*box-shadow: 0 4px 10px rgba(0,0,0,0.1);*/
  font-family: sans-serif;
  color: #222;
  transition: opacity 0.4s ease;
  z-index: 5;
}

#map-description.hidden {
  opacity: 0;
  pointer-events: none;
}


#map-description h2 {
  font-family: "clarendon-text-pro", serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 0;
  font-size: 26px;
  color: #000000;
}

#map-description p {
  font-family: "futura-100", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}


/*font-family: "futura-100", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "clarendon-text-pro", serif;
font-weight: 400;
font-style: normal;

*/